*,*::before,*::after{
	box-sizing: border-box;
}
img{
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: $link_text;
}
body{
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 1.5;
}

// 基本版型
.container{
	margin: 0 auto;
	max-width: 1320px;
	padding: 0 12px;
	// 平板模式
	@media (max-width: 768px){
		max-width: 720px;
	}
	// 手機模式
	@media (max-width:375px){
		max-width: 372px;
	}
}

// 顏色 colors
.bg-primary{
	background: $primary_color;
}
.bg-primary-dark{
	background: $primary_dark;
}
.bg-second-color{
	background: $second_color;
}
.bg-white{
	background: #fff;
}
.bg-none{
	background: transparent;
}

// layout-tools
.d-block{
	display: block;
}
.d-flex{
	display: flex;
}
.flex-column{
	flex-direction: column;
}
.jc-sb{
	justify-content: space-between;
}
.jc-e{
	justify-content: flex-end;
}
.ai-c{
	align-items: center;
}
.f-dir{
	flex-direction: column;
}
.flex-wrap{
	flex-wrap: wrap;
}
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}

.h-100{
	height: 100%;
}
.w-100{
	width: 100%;
}