// Noto Sans TC + Roboto
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,900;1,900&display=swap');

// english
.title-en{
    font-family: 'Roboto';
}

// chinese
.title-big{
    font-size: 64px;
    font-weight: 700;
}
.title-middle{
    font-size: 48px;
    font-weight: 700;
}
.title-small{
    font-size: 36px;
}
.title-24{
    font-size: 24px;
}
.title-20{
    font-size: 20px;
}
.link-middle{
    font-size: 20px;
    font-weight: 700;
}
.link-small{
    font-size: 14px;
}