// Noto Sans TC + Roboto
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,900;1,900&display=swap');

// english
.title-cht{
    font-family: 'Noto Sans TC', sans-serif;
}

// chinese
.title-big{
    font-size: 64px;
}
.title-middle{
    font-size: 48px;
}
.title-small{
    font-size: 36px;
}
.link-middle{
    font-size: 20px;
}
.link-small{
    font-size: 14px;
}