.footer-top{
  border-bottom: 1px solid $link_text;
}
.footer-links{
  li{
    margin-right: 48px;
  }
  li:last-child{
    margin-right: 0;
  }
}
.social{
  li{
    margin-right: 32px;
  }
  li:last-child{
    margin-right: 0;
  }
  img{
    width: 48px;
  }
} 
.contack{
  span{
    color: $link_text;
    margin-right: 20px;
  }
}
.copyright{
  color: $link_text;
}
.policy{
  gap: 48px;
}