.store-card{
    border: 2px solid #dedede;
}
#storeSelect{
    width: 74%;
    padding: 6px 0 6px 12px;
    color: #495057;
}
.store-name{
    padding: 8px 24px;
    border-bottom: 2px solid #dedede;
}
.store-content{
    padding: 16px 24px;
    a{
        color: #000;
    }
}