<!DOCTYPE html>
<html lang="zh-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>眼鏡形象官網</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!-- 大標題區 -->
    <div class="bg-img1">
      <div class="container h-100">
        <div class="row ai-c h-100 jc-e">
          <div class="col-12 text-right">
            <p class="font-primary-dark title-small">Promise-Desert 2020 早春系列</p>
            <p class="font-primary-dark title-big">看得清，才能看得遠</p>
            <a href="#" class="bg-primary py-6 px-12">立即購買</a>
          </div>
        </div>
      </div>
    </div>
    <!-- 專業的心 專業的事 -->
    <div class="bg-second-color">
      <div class="container py-80">
        <div class="row">
          <div class="col-12">
            <h2 class="font-primary-dark title-middle text-center mb-24">用專業的心，做專業的事</h2>
          </div>
          <div class="col-3 text-center px-12">
            <div><span class="material-icons-outlined icon-big font-primary-dark">
              paid
              </span></div>
            <p class="font-bold font-primary-dark title-24 mb-8">單一價格</p>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </div>
          <div class="col-3 text-center px-12">
            <div><span class="material-icons-outlined icon-big font-primary-dark">
              schedule
              </span></div>
            <p class="font-bold font-primary-dark title-24 mb-8">20 分鐘即可取件</p>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </div>
          <div class="col-3 text-center px-12">
            <div><span class="material-icons-outlined icon-big font-primary-dark">
              favorite_border
              </span></div>
            <p class="font-bold font-primary-dark title-24 mb-8">安心售後服務</p>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </div>
          <div class="col-3 text-center px-12">
            <div><span class="material-icons-outlined icon-big font-primary-dark">
              voicemail
              </span></div>
            <p class="font-bold font-primary-dark title-24 mb-8">關於鏡片</p>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </div>
        </div>
      </div>
    </div>
    <!-- 經典鏡框 -->
    <div class="container py-80">
      <div class="row">
        <div class="col-12">
          <h2 class="font-primary-dark title-middle text-center mb-24">經典系列鏡框</h2>
        </div>
        <div class="col-4 px-12">
          <img class="glasses-type-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-1.png" alt="glasses-type">
          <p class="text-center title-middle title-en font-primary font-italic">OPTICAL</p>
        </div>
        <div class="col-4 px-12">
          <img class="glasses-type-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-2.png" alt="glasses-type">
          <p class="text-center title-middle title-en font-primary font-italic">SUNGLASSES</p>
        </div>
        <div class="col-4 px-12">
          <img class="glasses-type-img" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section3-3.png" alt="glasses-type">
          <p class="text-center title-middle title-en font-primary font-italic">FUNCTIONAL</p>
        </div>
      </div>
    </div>
    <!-- 聯名鏡框 -->
    <div class="bg-img2">
      <div class="container py-80">
        <div class="col-12">
          <h2 class="title-middle text-center font-link mb-48">聯名設計鏡框</h2>
        </div>
        <div class="col-6">
          <div>
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-1.png" alt="DOUBLE A+">
          </div>
          <p class="bg-white py-8 text-center title-middle font-italic font-primary font-900">DOUBLE A+</p>
        </div>
        <div class="col-6">
          <div>
            <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week3-4/home-section4-2.png" alt="YOUTH">
          </div>
          <p class="bg-white py-8 text-center title-middle font-italic font-primary font-900">YOUTH</p>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
